@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@500&display=swap");

* {
  box-sizing: border-box; /* Universal Selector */
}

body {
  font-family: "DynaPuff", cursive;
  background-color: rgba(31, 59, 100, 0.544);
  color: #222;
  overflow-x: hidden; /* Only affects the scroll bar on the x-axis */
  overflow: visible;
  margin: 0;
}

.container {
  background-color: rgb(252, 255, 152);
  transform-origin: top left; /* Rotation origin is moved */
  transition: transform 0.5s linear;
  width: 100vw; /* Takes up the entire viewport horizontally */
  min-height: 100vh;
  padding: 50px;
}

.container.show-nav {
  transform: rotate(-20deg);
}

.circle-container {
  position: fixed;
  top: -100px; /* Half circle */
  left: -100px;
}

.circle {
  background-color: #ff7979;
  height: 200px;
  width: 200px;
  border-radius: 50%; /* Doing so makes it a circle */
  position: relative; /* For positioning buttons */
  transition: transform 0.5s linear;
}

.circle button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  background: transparent;
  border: 0;
  font-size: 25px;
  color: #fafafa;
}

.circle button:focus {
  outline: none;
}

.container.show-nav .circle {
  transform: rotate(-70deg);
}

/* Buttons relative to circle */

.circle button#open {
  left: 60%;
}
.circle button#close {
  top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
}

.container.show-nav + nav li {
  transform: translateX(0); /* Will bring to original place */
  transition-delay: 0.3s;
}

nav {
  position: fixed;
  bottom: 40px;
  left: 0;
  z-index: 100;
}

nav ul {
  list-style-type: none; /* gets ride of bullet points */
  padding-left: 30px;
}

nav ul li {
  text-transform: uppercase;
  color: #fff;
  margin: 30px 0; /* Separating them a lot */
  transform: translateX(-100%); /* Bringing it left (negative) */
  transition: transform 0.4 ease-in;
}

nav ul li i {
  font-size: 20px;
  margin-right: 10px;
}

nav ul li + li {
  margin-left: 15px;
  transform: translateX(-150%);
}

nav ul li + li + li {
  margin-left: 30px; /* Styling the angle of nav */
  transform: translateX(-200%);
}

.content > img {
  max-width: 180%;
  max-height: 300px;
  border-radius: 10px;
  padding: 5px;
  filter: drop-shadow(0 0 0.75rem rgb(193, 43, 73));
}

.content {
  max-width: 700px;
  margin: 50px auto; /* Keeps it in the middle */
}

.content h1 {
  margin: 0;
}

.content small {
  color: rgba(53, 53, 53, 0.454);
  font-style: italic;
  line-height: 2.5;
}

.content p {
  color: #333;
  line-height: 1.5;
}
